@mixin sizes ($width, $height)
{
    width: $width;
    height: $height;
}
@mixin headers ()
{
    background-color: rgb(75, 124, 75);
    text-align: center;
    margin-top: 5px;
}
@mixin headers2 ()
{
    color: rgb(12, 105, 59);
    font-weight: bold;
}